<div class="card">
  <div class="card-body">
    <h4 class="titulo mb-4">
      Crear Tarjeta
    </h4>
    <form>
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text">
          <i class="fa-solid fa-circle-user"></i>
        </span>
        <input type="text" class="form-control" placeholder="Titular">
      </div>
      <div class="input-group input-group-lg mb-3">
        <span class="input-group-text">
          <i class="fa-solid fa-credit-card"></i>
        </span>
        <input type="text" class="form-control" placeholder="Número Tarjeta">
      </div>
      <div class="row">
        <div class="col-lg-7">
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fa-solid fa-calendar-days"></i>
            </span>
            <input type="text" class="form-control" placeholder="MM/AA">
          </div>
        </div>
        <div class="col-lg-5">
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fa-solid fa-key"></i>
            </span>
            <input type="password" class="form-control" placeholder="CVV">
          </div>
        </div>
        <div class="mt-2 text-center">
          <button class="btn btn-primary btn-lg w-25 fw-bold">
            <i class="fa-solid fa-database me-1"></i>
            Aceptar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
